/**
*
* grid.css 
* @author - Mazeen
* @date - 31/7/2023 
**/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: none;
  }
  .grid-item {
    background-color: none;
    border: 1px solid #000;
    border-right: none;
    border-bottom: none;
    padding: 15px;
    font-size: 30px;
    text-align: center;
  }